[
  {tyranny_gameservice, [
    {listener, [
      {address, {0,0,0,0}},
      {port, 54321},
      {vip, {192,168,255,128}}, 
      {num_acceptors, 10},
      {max_connections, 10},
      {socket_timeout, 15000}
    ]},
    {ping_interval, 5000},
    {gameserver_db, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 0},
      {password, ""},
      {reconnect_delay, 1000},
      {connect_timeout, 5000},
      {update_interval, 3000},
      {ttl, 15}
    ]},
    {authtoken_db, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 1},
      {password, ""},
      {reconnect_delay, 1000},
      {connect_timeout, 5000}
    ]},
    {zones, [
      {zone1, {0,   0, 0}, {200, 200}},
      {zone2, {200, 0, 0}, {200, 200}},
      {zone3, {400, 0, 0}, {200, 200}},
      {zone4, {600, 0, 0}, {200, 200}},
      {zone5, {800, 0, 0}, {200, 200}},

      {zone6, {0,   0, 200}, {200, 200}},
      {zone7, {200, 0, 200}, {200, 200}},
      {zone8, {400, 0, 200}, {200, 200}},
      {zone9, {600, 0, 200}, {200, 200}},
      {zone10,{800, 0, 200}, {200, 200}},

      {zone11, {0,   0, 400}, {200, 200}},
      {zone12, {200, 0, 400}, {200, 200}},
      {zone13, {400, 0, 400}, {200, 200}},
      {zone14, {600, 0, 400}, {200, 200}},
      {zone15, {800, 0, 400}, {200, 200}},

      {zone16, {0,   0, 600}, {200, 200}},
      {zone17, {200, 0, 600}, {200, 200}},
      {zone18, {400, 0, 600}, {200, 200}},
      {zone19, {600, 0, 600}, {200, 200}},
      {zone20, {800, 0, 600}, {200, 200}},

      {zone21, {0,   0, 800}, {200, 200}},
      {zone22, {200, 0, 800}, {200, 200}},
      {zone23, {400, 0, 800}, {200, 200}},
      {zone24, {600, 0, 800}, {200, 200}},
      {zone25, {800, 0, 800}, {200, 200}}
    ]}
  ]},

  {lager, [
    {log_root, "/tmp/tyranny_gameservice/log/"},
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, debug}]}
    ]}
  ]}
].
