[
  {tyranny_gameservice, [
    {listener, [
      {address, {0,0,0,0}},
      {port, 54321},
      {vip, {192,168,255,128}}, 
      {num_acceptors, 10},
      {max_connections, 10},
      {socket_timeout, 15000}
    ]},
    {ping_interval, 5000},
    {gameserver_db, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 0},
      {password, ""},
      {reconnect_delay, 1000},
      {connect_timeout, 5000},
      {update_interval, 3000},
      {ttl, 15}
    ]},
    {authtoken_db, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 1},
      {password, ""},
      {reconnect_delay, 1000},
      {connect_timeout, 5000}
    ]},
    {zones, [
      {zone1, {0,   0, 0}, {200, 200}, [zone2, zone7, zone6]},
      {zone2, {200, 0, 0}, {200, 200}, [zone3, zone8, zone7, zone6, zone1]},
      {zone3, {400, 0, 0}, {200, 200}, [zone4, zone9, zone8, zone7, zone2]},
      {zone4, {600, 0, 0}, {200, 200}, [zone5, zone10, zone9, zone8, zone3]},
      {zone5, {800, 0, 0}, {200, 200}, [zone10, zone9, zone4]},

      {zone6, {0,   0, 200}, {200, 200}, [zone1, zone2, zone7, zone12, zone11]},
      {zone7, {200, 0, 200}, {200, 200}, [zone2, zone3, zone8, zone13, zone12, zone11, zone6, zone1]},
      {zone8, {400, 0, 200}, {200, 200}, [zone3, zone4, zone9, zone14, zone13, zone12, zone7, zone2]},
      {zone9, {600, 0, 200}, {200, 200}, [zone4, zone5, zone10, zone15, zone14, zone13, zone8, zone3]},
      {zone10,{800, 0, 200}, {200, 200}, [zone5, zone15, zone14, zone9, zone4]},

      {zone11, {0,   0, 400}, {200, 200}, [zone6, zone7, zone12, zone17, zone16]},
      {zone12, {200, 0, 400}, {200, 200}, [zone7, zone8, zone13, zone18, zone17, zone16, zone11, zone6]},
      {zone13, {400, 0, 400}, {200, 200}, [zone8, zone9, zone14, zone19, zone18, zone17, zone12, zone7]},
      {zone14, {600, 0, 400}, {200, 200}, [zone9, zone10, zone15, zone20, zone19, zone18, zone13, zone8]},
      {zone15, {800, 0, 400}, {200, 200}, [zone10, zone20, zone19, zone14, zone9]},

      {zone16, {0,   0, 600}, {200, 200}, [zone11, zone12, zone17, zone22, zone21]},
      {zone17, {200, 0, 600}, {200, 200}, [zone12, zone13, zone18, zone23, zone22, zone21, zone16, zone11]},
      {zone18, {400, 0, 600}, {200, 200}, [zone13, zone14, zone19, zone24, zone23, zone22, zone17, zone12]},
      {zone19, {600, 0, 600}, {200, 200}, [zone14, zone15, zone20, zone25, zone24, zone23, zone18, zone13]},
      {zone20, {800, 0, 600}, {200, 200}, [zone15, zone25, zone24, zone19, zone14]},

      {zone21, {0,   0, 800}, {200, 200}, [zone16, zone17, zone22]},
      {zone22, {200, 0, 800}, {200, 200}, [zone17, zone18, zone23, zone21, zone16]},
      {zone23, {400, 0, 800}, {200, 200}, [zone18, zone19, zone24, zone22, zone17]},
      {zone24, {600, 0, 800}, {200, 200}, [zone19, zone20, zone25, zone23, zone18]},
      {zone25, {800, 0, 800}, {200, 200}, [zone20, zone24, zone19]}
    ]}
  ]},

  {lager, [
    {log_root, "/opt/tyranny_gameservice/logs/"},
    {crash_log, 'crash.log'},
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, debug}]}
    ]}
  ]}
].
