[
  {tyranny_gameservice, [
    {listener, [
      {address, {0,0,0,0}},
      {port, 54321},
      {vip, {192,168,0,142}}, 
      {num_acceptors, 10},
      {max_connections, 10},
      {socket_timeout, 15000}
    ]},
    {ping_interval, 5000},
    {gameserver_db, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 0},
      {password, ""},
      {reconnect_delay, 1000},
      {connect_timeout, 5000},
      {update_interval, 3000},
      {ttl, 15}
    ]},
    {authtoken_db, [            
      {host, "127.0.0.1"}, 
      {port, 6379}, 
      {database, 1}, 
      {password, ""}, 
      {reconnect_delay, 1000}, 
      {connect_timeout, 5000}
    ]}                          
  ]},

  {lager, [
    {log_root, "/tmp/tyranny_gameservice/log/"},
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, debug}]}
    ]}
  ]}
].
